<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>Haldiram's Food</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <nav class="navbar">
    <div class="logo">Haldiram's</div>

    <div class="nav-links">
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('restaurants')}}">Restaurants</a>
        <a href="#cart-container">Cart</a>
    </div>
</nav>
<section class="hero">
    <h1>Haldiram's</h1>
    <p>Welcome to Haldiram's!</p>
</section>

<section class="menu-selection">
    <h2>Our Menu</h2>
    <div class="menu-container">
        {% for food in menu %}
        <div class="food-card">
            <h3> {{food.food_name}}</h3>
            <p> ₹{{food.price}}</p>
            <button 
                   class="add-to-cart"
                   data-name="{{food.food_name}}"
                   data-price="{{food.price}}">
                   Add to Cart
                </button>
        </div>
        {%endfor%}
    </div>
</section>
    <h2 id="cart-heading">Cart</h2>
    <div id="cart-container"></div>
    <h3 id="cart-total"></h3>
    <button id="clear-cart">Clear Cart</button>
    <button id ="checkout-button">Checkout</button><br>
    <div id="checkout-section">
        <h2>Checkout</h2>
        <form action="/order" method="POST">
        <input type="text" name="customer-name" placeholder="Your Name">
        <input type="text" name="customer-phone" placeholder="Your Phone Number">
        <input type="text" name="customer-address" placeholder="Delivery Address"><br>
        <button id="place-order">Place Order</button>
        </form>
    </div>

    <div id="order-confirmation"></div>
    <script src="{{ url_for('static',filename='script.js')}}"></script>
</body>
</html>