<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <title>Restaurant</title>
    </head>
    <body>
        <h2>Welcome to our restaurant!</h2>
        
        <a href="{{url_for('haldiram')}}">Haldiram's</a>|
        <a href="{{url_for('coming')}}">Prabhuji Pure Food</a>|
        <a href="{{url_for('coming')}}">Chawla's</a>|
        <a href="{{url_for('coming')}}">Shree Ram Rasoi</a>|
        <div>
            <a href="{{url_for('home')}}">Back to Home</a>
        </div>
    </body>
</html>